@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Bevan&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: #39393b;
  color: #fff;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #222021;
  cursor: pointer;
  margin: 0 2rem;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

li {
  list-style-type: none;
}

.text-bevan {
  font-family: "Bevan", cursive;
}

.text-cursive {
  font-family: "Alex Brush", cursive;
}

.p-orange {
  color: #94560d;
  font-weight: 700;
}

.menu {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.menu img,
.navbar img {
  width: 30px;
  height: 30px;
  padding: 0.5rem;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  opacity: 0;
  visibility: hidden;
  background-color: #9f9f9f;
  color: #222021;
  transition: opacity 0.5s, visibility 0s linear 0.5s;
}

.navbar.show {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.navbar ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
  margin: 1rem 0;
}

.navbar span a {
  color: #94560d;
}

.content-1,
.content-2 {
  position: relative;
  z-index: 1;
}

.content-1:before {
  content: "";
  position: absolute;
  z-index: -1;
  background-image: url("assests/bg1.jpg");
  background-size: cover;
  width: 50%;
  height: 100%;
  opacity: 0.3;
}

.content-2:before {
  content: "";
  position: absolute;
  z-index: -1;
  background-image: url("assests/bg2.jpg");
  background-size: cover;
  width: 50%;
  height: 100%;
  opacity: 0.3;
  right: 0;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  border: 2px solid #fd7e14;
  padding: 0.5rem;
  border-radius: 100%;
}

.logo-title {
  line-height: 0.4;
  padding: 1rem 0;
  text-align: center;
}

.logo-title:nth-child(1) {
  font-size: 4rem;
}

.logo-title:nth-child(2) {
  font-size: 3rem;
}

hr {
  position: relative;
  top: 5px;
  border: none;
  width: 10%;
  height: 1px;
  background: #fd7e14;
  margin-bottom: 50px;
}

.cards {
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.8rem;
}

.card {
  background-color: #d9d9d9;
  height: fit-content;
  margin: 3rem 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-text {
  margin: 0.5rem;
  color: #39393b;
}

.card-title {
  font-size: 2rem;
}

.about-us-section {
  text-align: justify;
  width: fit-content;
  margin: 2rem auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.about-title {
  font-size: 3rem;
  text-align: center;
}

.about-us-section > button {
  padding: 0.5rem 2rem;
  background-color: #fd7e14;
  color: #fff;
  border: none;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
}

.about-us-section > button:hover {
  padding: 0.5rem 2rem;
  background-color: #94560d;
  color: #fff;
  border: none;
  border-radius: 5px 5px 5px 5px;
}

/* For medium size screens */

@media (max-width: 900px) {
  .content-1:before {
    width: 100%;
  }

  .content-2:before {
    width: 100%;
  }

  .content-2 .cards {
    margin: auto;
  }

  .logo-title:nth-child(1) {
    font-size: 3rem;
  }

  .logo-title:nth-child(2) {
    font-size: 2.8rem;
  }

  hr {
    width: 30%;
  }

  .cards {
    width: 80%;
  }

  .about-us-section {
    width: 80%;
    margin: 2rem auto;
  }
}

/* For smaller screens */

@media (max-width: 600px) {
  .content-1:before {
    width: 100%;
  }

  .content-2:before {
    width: 100%;
  }

  .logo-title:nth-child(1) {
    font-size: 2.2rem;
  }

  .logo-title:nth-child(2) {
    font-size: 2.8rem;
  }

  .cards {
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

  .about-us-section {
    width: 80%;
    margin: 2rem auto;
  }
}
